name: e2e

on:
  pull_request:
  push:
    branches:
      - 'main'

permissions:
  contents: read

jobs:
  kind-kustomize:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Disk Cleanup
        uses: ./.github/actions/runner-cleanup
      - name: Setup Kubernetes
        uses: helm/kind-action@v1.13.0
        with:
          cluster_name: kind
      - name: Build container image
        run: |
          ./test/build.sh
          kind load docker-image test/podinfo:latest
      - name: Deploy
        run: ./test/deploy.sh
      - name: Run integration tests
        run: ./test/test.sh
      - name: Debug failure
        if: failure()
        run: |
          kubectl logs -l app=podinfo || true
