name: "Main pipeline"

permissions:
  contents: write
  id-token: write

on:
  push:
    tags:
      - 'v*'

env:
  KUBERNETES_VERSION: 1.34.2
  IMAGE_REPOSITORY: 745892955196.dkr.ecr.us-east-1.amazonaws.com/javier/podinfo



jobs:

  unit_tests:
    name: "Run unit tests"
    runs-on: ubuntu-latest

    steps:

      - uses: actions/checkout@v6
        name: Checkout code

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.25.x
          cache-dependency-path: |
            **/go.sum
            **/go.mod

      - name: Install make on Ubuntu/Debian
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update
          sudo apt-get install -y --no-install-recommends make

      - name: Run unit tests
        run: make test


  code_scan_security:
    name: "Run code security scan"
    runs-on: ubuntu-latest

    steps:

      - uses: actions/checkout@v6
        name: Checkout code

      - uses: ./.github/actions/run-scan-security
        name: "Run code security scan"
        with:
          wait: 8


  code_scan_quality:
    name: "Run code quality scan"
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
        name: Checkout code

      - uses: ./.github/actions/run-scan-quality
        name: "Run code quality scan"
        with:
          wait: 2

  build-docker-image:

    name: "Build and push Docker image"
    runs-on: ubuntu-latest
    outputs:
      image_tag: ${{ steps.build.outputs.image_tag }}
      image_repository: ${{ steps.build.outputs.image_repository }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v5
        with:
          role-to-assume: arn:aws:iam::745892955196:role/github-actions
          aws-region: us-east-1

      - name: Build and publish images
        id: build
        uses: ./.github/actions/build-docker-image
        with:
          image_repository: ${{ env.IMAGE_REPOSITORY }}

  deploy_dev:
    name: "Deploy to DEV"
    runs-on: ubuntu-latest
    environment: dev
    needs: [ code_scan_quality, code_scan_security, unit_tests, build-docker-image ]

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Promote dev image
        uses: ./.github/actions/promote-environment
        with:
          environment: dev
          image_tag: ${{ needs.build-docker-image.outputs.image_tag }}
          image_repository: ${{ needs.build-docker-image.outputs.image_repository }}


  deploy_preq:
    name: "Deploy to PREQ"
    runs-on: ubuntu-latest
    environment: preq
    needs: [ deploy_dev, build-docker-image ]

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Promote preq image
        uses: ./.github/actions/promote-environment
        with:
          environment: preq
          image_tag: ${{ needs.build-docker-image.outputs.image_tag }}
          image_repository: ${{ needs.build-docker-image.outputs.image_repository }}

  deploy_qa:
    name: "Deploy to QA"
    runs-on: ubuntu-latest
    environment: qa
    needs: [ deploy_preq, build-docker-image ]

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Promote qa image
        uses: ./.github/actions/promote-environment
        with:
          environment: qa
          image_tag: ${{ needs.build-docker-image.outputs.image_tag }}
          image_repository: ${{ needs.build-docker-image.outputs.image_repository }}


  deploy_prod:
    name: "Deploy to PROD"
    runs-on: ubuntu-latest
    environment: prod
    needs: [ deploy_qa, build-docker-image ]

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Promote prod image
        uses: ./.github/actions/promote-environment
        with:
          environment: prod
          image_tag: ${{ needs.build-docker-image.outputs.image_tag }}
          image_repository: ${{ needs.build-docker-image.outputs.image_repository }}
