name: Promote container image

on:
  workflow_dispatch:
    inputs:
      image_tag:
        required: true
        description: "Container image tag to promote"
      image_repository:
        required: false
        description: "Full image repository (without tag)"
        default: "745892955196.dkr.ecr.us-east-1.amazonaws.com/javier/podinfo"

permissions:
  contents: write

jobs:
  promote_dev:
    name: Promote to dev
    runs-on: self-hosted-runner-docker
    environment: dev
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Promote dev image
        uses: ./.github/actions/promote-environment
        with:
          environment: dev
          image_tag: ${{ inputs.image_tag }}
          image_repository: ${{ inputs.image_repository }}

  promote_preq:
    name: Promote to preq
    runs-on: self-hosted-runner-docker
    environment: preq
    needs: promote_dev
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Promote preq image
        uses: ./.github/actions/promote-environment
        with:
          environment: preq
          image_tag: ${{ inputs.image_tag }}
          image_repository: ${{ inputs.image_repository }}

  promote_qa:
    name: Promote to qa
    runs-on: self-hosted-runner-docker
    environment: qa
    needs: promote_preq
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Promote qa image
        uses: ./.github/actions/promote-environment
        with:
          environment: qa
          image_tag: ${{ inputs.image_tag }}
          image_repository: ${{ inputs.image_repository }}

  promote_prod:
    name: Promote to prod
    runs-on: self-hosted-runner-docker
    environment: prod
    needs: promote_qa
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Promote prod image
        uses: ./.github/actions/promote-environment
        with:
          environment: prod
          image_tag: ${{ inputs.image_tag }}
          image_repository: ${{ inputs.image_repository }}
